/* !-------------------------- Start Fonts ---------------------------- */
@font-face {
  font-family: "centurygothic";
  src: url(../fonts/centurygothic.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "centurygothic";
  src: url(../fonts/centurygothic_bold.ttf) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "eurostar";
  src: url(../fonts/eurostarblack.ttf) format("woff");
  font-weight: bold;
  font-style: normal;
}
/* !-------------------------- End Fonts ---------------------------- */
/* !------------------------ Start Valuables --------------------- */
:root {
  /* *--------------colors------------ */
  /* ?main colors */
  --main-color: #d4a97d;
  /* ?Text colors */
  --main-text-color: #ffffff;
  --second-text-color: #d8d8d8;
  /* ?Background colors */
  --main-background-color: #171515;

  /* *-------------- Fonts ------------ */
  /* ?font family */
  --heading-font: "eurostar";
  --paragraph-font: "centurygothic";
  /* ?font sizes */
  --XX-large-size: 132px;
  --X-large-size: 44px;
  --large-size: 38px;
  --medium-size: 32px;
  --normal-size: 24px;
  --small-size: 18px;
}
/* !------------------------ End Valuables --------------------- */
/* !------------------------ Start Global rules --------------------- */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--paragraph-font);
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--main-text-color);
}
img {
  height: 100%;
  object-fit: cover;
}
.container {
  padding-inline: 32px;
}
/* !------------------------ End Global rules --------------------- */
