@use "../helpers" as *;
.header {
  background-color: var($clr-bg);
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 1000;
  padding-block: rem(24);
  display: flex;
  justify-content: center;
  transform: translateY(-270px);
  animation: show 3s ease-in-out 1 forwards;

  &.hero-animation {
    animation-play-state: paused;
  }

  .logo {
    font-size: rem(25);
    font-weight: bold;
    text-transform: uppercase;
  }
  @include breakpoint("lg") {
    padding-inline: rem(60);
    justify-content: flex-start;
  }
}
