@use "../helpers/" as *;
@keyframes show {
  100% {
    top: 0;
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes scroll-up {
  to {
    transform: translateY(calc(-50% - rem(19)));
  }
}
@keyframes scroll-down {
  to {
    transform: translateY(calc(0% - rem(19)));
  }
}
