@use "../helpers/" as *;
@keyframes show {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll-up {
  to {
    transform: translateY(calc(-50% - rem(19)));
  }
}
@keyframes scroll-down {
  to {
    transform: translateY(calc(0% - rem(19)));
  }
}

@keyframes scroll-left {
  to {
    transform: translateX(calc(-33.4%));
  }
}
@keyframes scroll-right {
  to {
    transform: translateX(0);
  }
}
