@font-face {
  font-family: "centurygothic";
  src: url(../asset/fonts/centurygothic.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "centurygothic";
  src: url(../asset/fonts/centurygothic_bold.ttf) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "eurostar";
  src: url(../asset/fonts/eurostarblack.ttf) format("woff");
  font-weight: bold;
  font-style: normal;
}
