:root {
  /* Colors */
  --color-primary: #d4a97d;
  --color-text: #ffffff;
  --color-text-secondary: #d8d8d8;
  --color-bg: #171515;

  /* Typography */
  --font-heading: "eurostar", system-ui;
  --font-body: "centurygothic", sans-serif;
  --text-xxl: 132px;
  --text-xl: 44px;
  --text-lg: 38px;
  --text-md: 32px;
  --text-base: 24px;
  --text-sm: 18px;
}
