@use "../helpers" as *;
.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-block: rem(20);
  position: relative;
  max-width: rem(1500);
  margin-inline: auto;

  &__title {
    width: fit-content;
    margin-bottom: rem(30);
    font-size: var(--text-base);
    font-weight: bold;
    position: relative;
    &::after {
      content: "";
      width: 80%;
      height: rem(1);
      background-color: var($clr-p);
      position: absolute;
      top: 105%;
      left: 0;
    }
  }

  &__profile {
    margin-inline: auto;
    margin-bottom: rem(50);

    .profile-img {
      width: rem(195);
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        border: 3px solid var($clr-p);
        position: absolute;
        top: rem(23);
        left: rem(-25);
        z-index: -1;
      }
      &::after {
        content: "";
        width: 63%;
        height: 80.7%;
        background-color: var($clr-p);
        opacity: 0.3;
        mix-blend-mode: overlay;
        position: absolute;
        top: rem(-23);
        right: rem(-25);
        z-index: 2;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__description {
    h3 {
      font-size: rem(20);
      font-weight: bold;
      text-align: center;
      margin-bottom: rem(20);
    }
    p {
      font-size: rem(16);
      line-height: 1.9;
      letter-spacing: 0.5px;
      margin-bottom: rem(28);
    }
  }

  &__skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(20);
    margin-bottom: rem(25);

    .skill {
      &__title {
        font-size: var(--text-xxs);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: rem(8);
      }

      &__bar {
        width: rem(90);
        height: rem(10);
        background-color: var($clr-p);
        padding: rem(2);
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          display: block;
          height: 100%;
          background-color: var($clr-t);
        }
      }
    }
  }

  &__labels {
    max-width: 100%;
    overflow: hidden;
    .scroller {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: rem(16);
      margin-bottom: rem(15);
      animation: scroll-left 40s linear infinite;
      &:first-child {
        transform: translateX(calc(-33.4%));
        animation: scroll-right 40s linear infinite;
      }

      .label {
        opacity: 0.45;
        font-size: var(--text-xxs);
        width: fit-content;
      }
    }
  }

  @include breakpoint("md") {
    flex-direction: row;
    padding-top: rem(80);
    &__title {
      position: absolute;
      top: rem(20);
    }
    &__profile {
      margin-right: 0;
      width: fit-content;
      order: 2;
      .profile-img {
        width: 35vw;
      }
    }
    &__description {
      max-width: rem(319);
      margin: auto;
      order: 1;
      h3 {
        width: fit-content;
      }
    }
    &__skills {
      margin-top: rem(25);
      margin-bottom: rem(30);
      order: 3;
      .skill {
        &__title {
          font-size: var(--text-xs);
        }

        &__bar {
          width: rem(125);
        }
      }
    }
    &__labels {
      margin-block: rem(30);
      order: 4;
      .scroller {
        .label {
          font-size: var(--text-xs);
        }
      }
    }
  }

  @include breakpoint("lg") {
    &__title {
      font-size: var(--text-lg);
    }
    &__profile {
      flex: 1;
      order: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      .profile-img {
        width: 25vw;
        max-width: rem(242);
      }
    }
    &__description {
      flex: 1;
      max-width: rem(377);
      margin: auto 0;
      h3 {
        font-size: var(--text-md);
      }
    }
    &__skills {
      flex: 1;
      order: 2;
      flex-direction: column;
      flex-wrap: nowrap;
      .skill {
        &__title {
          font-size: var(--text-xs);
        }

        &__bar {
          width: rem(205);
        }
      }
    }
    &__labels {
      margin: auto;
      order: 4;
      .scroller {
        .label {
          font-size: var(--text-sm);
        }
      }
    }
  }
}
